/.EntitiesContentAssistTest.java._trace
/.EntitiesEditorTest.java._trace
/.EntitiesFormatterTest.java._trace
/.EntitiesGeneratorTest.java._trace
/.EntitiesParserTest.java._trace
/.EntitiesValidatorTest.java._trace
/.EntitiesWorkbenchTest.java._trace
/EntitiesContentAssistTest.java
/EntitiesEditorTest.java
/EntitiesFormatterTest.java
/EntitiesGeneratorTest.java
/EntitiesParserTest.java
/EntitiesValidatorTest.java
/EntitiesWorkbenchTest.java
